/*  Woo Main styles
--------------------------------------------------------------------------------------------------- */

.woocommerce .clear {clear: both;}

.woocommerce .required { border: 0; font-size: 12px; /*color: #c92d02; ??*/}
.woocommerce .woocommerce-invalid input { 
    border-color: #c92d02;
}

small.woocommerce-price-suffix {white-space:nowrap;} /* test styles;*/

p.demo_store {
    position: fixed;
    top: 0;
    left: 0; right: 0;
    z-index: 999999;
    margin: 0;
    padding: 10px;
    box-shadow: 0 1px 1em rgba(0, 0, 0, 0.2);
    background-color: #ad74a2;
    font-size: 1em;
    color: #fff;
    text-align: center;
}
.admin-bar p.demo_store {
    top: 32px
}
.woocommerce mark.count {
    color: #545454;
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
}
.woocommerce ins {
    background-color: transparent;
}
.woocommerce a, .woocommerce-page a {
    text-decoration: none;
}
span.amount {
    word-break: break-word;
}
.woocommerce select {
    height: 32px;
    padding-left: 6px;
    padding-right: 20px;
    background: #fff url(../images/woo/woo_select_icon.png) no-repeat right 12px top 8px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
}
.woocommerce select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
/* hide dotted line on FF*/

.woocommerce select::-ms-expand {
    display: none;
}
/* hide arrow on IE, "appearance" - not work */


/* Legend styles
..........................................*/
.woocommerce fieldset {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.04);
    padding: 10px;
    margin-bottom: 20px;
}
.woocommerce fieldset legend { padding: 0 8px;}

.woocommerce .widget fieldset {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
}

/* Messages styles
..........................................*/

#main .woocommerce-message,
#main .woocommerce-error,
#main .woocommerce-info {
    clear: both;
    padding:13px 15px 12px 48px; 
    margin-bottom:20px; min-height:15px;
    color:#3d3d3d;
}

.single-product #main .woocommerce-message {
    padding: 22px 15px 20px 48px;
    background-position: 13px 50%;
}

.woocommerce-message a.button,
.woocommerce-error a.button,
.woocommerce-info a.button {
    float: right;
    margin: -8px 0 20px;
}
#main .woocommerce-message li,
#main .woocommerce-error li,
#main .woocommerce-info li {
    list-style: none outside !important;
    padding: 10px 0 !important;
    margin-left: 0 !important;
}
#main .woocommerce-message > li:before,
#main .woocommerce-error > li:before,
#main .woocommerce-info > li:before {display: none;}
#main .woocommerce-message {
    border:1px solid #e5e7d1; 
    background:#f4f9e1 url('../images/i_successful_tiny.png') no-repeat 13px 11px;
}
#main .woocommerce-info {
    border:1px solid #f1e5c6; 
    background:#ffffe0 url('../images/i_info_tiny.png') no-repeat 13px 11px;
}
#main .woocommerce-error {
	border:1px solid #f1d6c6; 
    background:#fbede8 url('../images/i_errorn_tiny.png') no-repeat 13px 11px;
}

#main  .woocommerce-message li:last-child,#main  .woocommerce-error li:last-child,#main  .woocommerce-info li:last-child {padding-bottom: 0 !important;}
#main  .woocommerce-message li:first-child,#main  .woocommerce-error li:first-child,#main  .woocommerce-info li:first-child {padding-top: 0 !important;}

/* Button styles
..........................................*/
/* // td.order-actions a.button - Its: Pay, Cancel, View */
a.edit, a.sidebar-user-logout, td.order-actions a.button,
a.single_add_to_cart_button,
table.group_table a.button, table.group_table a.added_to_cart, p.return-to-shop a.button, input.button[name~="save_address"], input.button[name~="save_account_details"],
li.product.vhov .product-item-wrap p > .button.add_to_cart_button,
.widget_price_filter button.button,
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button,
li.product.vhov div.product-meta a.button,
li.product.vhov div.product-meta a.added_to_cart {
    display: inline-block;
    padding: 8px 17px 7px;
    margin-right: 5px;
    border-radius: 3px;
    border: 0;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}
.button {
    text-decoration: none;
}

#main a.edit, #main td.order-actions a.button {
    padding: 4px 12px 3px; margin: 0;
}
#main a.sidebar-user-logout {
    padding: 4px 8px 3px;
}

table.group_table a.button, table.group_table a.added_to_cart {white-space: nowrap;margin: 0;}
table.group_table a.button.added {display: none;}

form.login input.button, form.track_order input.button, form.register input.button, form.lost_reset_password input.button,
input#place_order,
.widget_shopping_cart a.button,
p > .button.add_to_cart_button,
button.single_add_to_cart_button,
a.shipping-calculator-button, a.checkout-button {
    position: relative;
    display: inline-block;
    padding: 15px 23px 14px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    box-sizing: border-box;
}

#main form.login a.lost_password,
input.button_update_cart, input.button_apply_coupon, .shipping-calculator-form button.button,
.widget_shopping_cart a.button:first-child, #main .cart_totals a.shipping-calculator-button {
    transition: all .2s ease-in-out;
}

.shipping_method { max-width: 160px; }

a.checkout-button:before,
a.checkout-button:after,
.widget_shopping_cart a.checkout:before,
.widget_shopping_cart a.checkout:after,
p > .button.add_to_cart_button:before,
p > .button.add_to_cart_button:after,
button.single_add_to_cart_button:before,
button.single_add_to_cart_button:after {
    opacity: 1;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    background-image: url(../images/bg_button.png);
    background-size: 1px 44px;
}
a.checkout-button:before,
p > .button.add_to_cart_button:before,
.widget_shopping_cart a.checkout:before,
button.single_add_to_cart_button:before {
    background-position: 0 0;
    height: 10px;
    top: 0;
    border-radius: 3px 3px 0 0;
}
a.checkout-button:after,
p > .button.add_to_cart_button:after,
.widget_shopping_cart a.checkout:after,
button.single_add_to_cart_button:after {
    background-position: 0 100%;
    height: 10px;
    bottom: 0;
    border-radius: 0 0 3px 3px;
}
a.checkout-button:hover,
p > .button.add_to_cart_button:hover,
.widget_shopping_cart a.checkout:hover,
button.single_add_to_cart_button:hover {
    padding-bottom: 12px;
    margin-top: 2px;
    vertical-align: bottom;
}
a.checkout-button:hover:after,
p > .button.add_to_cart_button:hover:after,
.widget_shopping_cart a.checkout:hover:after,
button.single_add_to_cart_button:hover:after {
    background-image: none;
}
p > .button.add_to_cart_button,
button.single_add_to_cart_button {
    border: 0;
    outline: none;
    min-width: 134px;
    font-size: 13px;
    padding-left: 49px;
    padding-right: 15px;
    margin-bottom: 10px;
    background: url(../images/woo/woo_add_tocart_light.png) no-repeat 16px 15px;
    text-align: left;
    text-decoration: none;
}
* + p > .button.add_to_cart_button {
    /*margin-top: 16px;*/
    vertical-align: baseline !important;
}
* + p > .button.add_to_cart_button:hover {
    margin-top: 18px;

    padding-bottom: 12px;
    margin-top: 2px;
    vertical-align: baseline;
}
.product.woocommerce.add_to_cart_inline {
    padding: 0 !important;
    border: none !important;
    margin-bottom: 20px;
}
.added_to_cart.wc-forward
/*.product.woocommerce.add_to_cart_inline del,
.product.woocommerce.add_to_cart_inline ins,
.product.woocommerce.add_to_cart_inline del*/
{
    vertical-align: bottom;
    position: relative;
    top: -21px;
}
.product.woocommerce.add_to_cart_inline .add_to_cart_button {
    margin-left: 15px;
    margin-right: 15px;
}
.product-item-wrap p > .button.add_to_cart_button {
    min-width: auto;
    display: inline-block;
    padding: 8px 17px 7px;
    margin-right: 5px;
    border-radius: 3px;
    border: 0;
}
.product-item-wrap * + p > .button.add_to_cart_button,
.product-item-wrap * + p > .button.add_to_cart_button:hover {
    margin-top: 0;
}
.product-item-wrap p > .button.add_to_cart_button:after {
    display: none;
}

form.login input.button, form.track_order input.button, form.register input.button, form.lost_reset_password input.button,
input#place_order {
    background-image: url(../images/bg_button.png);
    background-repeat: repeat-x; background-position: 0 0;
    width: 100%;
    border: 0;
}
form.login input.button:hover, form.track_order input.button:hover, form.register input.button:hover, form.lost_reset_password input.button:hover,
input#place_order:hover {
    padding-bottom: 12px;
    margin-top: 2px;
    vertical-align: bottom;
}
form.login input.button, form.register input.button {width: auto; float: left;}
form.login input.button {margin-right: 20px;}

form.track_order p {display: none;}
form.track_order p:first-child,
form.track_order p.form-row {display: block;}
form.track_order p:first-child {padding-bottom: 22px;}
form.track_order p.form-row-last {margin-bottom: 25px;}

form.track_order input.button {  width: auto; margin-bottom: -17px;} 

/* end / button styles */

/* Remove Round button styles
..........................................*/
.widget_layered_nav_filters ul li a:before,
.widget_shopping_cart a.remove,
a.woocommerce-remove-coupon {
    border-radius: 100%;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .1);
}
.widget_layered_nav_filters ul li a:before, .widget_shopping_cart ul li a.remove, #main a.woocommerce-remove-coupon {transition: all 0.2s ease-in 0s;}

/* Small button */

.widget_layered_nav_filters ul li a:before,
.widget_shopping_cart a.remove,
a.woocommerce-remove-coupon {
    width: 17px;
    height: 17px;
    background-image: url(../images/woo/woo_i_remove_small.png);
    background-repeat: no-repeat;
    background-size: 17px 51px;
}
/* end / remove round button styles */

/* Star rating styles
..........................................*/
.star-rating,
.star-rating span {
    height: 11px;
    overflow: hidden;
    background-image: url(../images/woo/woo_star_small.png);
    background-repeat: repeat-x;
    background-size: 13px 22px;
}
.star-rating {
    width: 65px;
    background-position: 0 0;
}
.star-rating span {
    font-size: 0;
    display: block;
    color: transparent;
    background-position: 0 -11px;
}

/*  Widgets indent */
.widget_recent_reviews .star-rating {
    margin: 5px 0 6px;
}
.widget_top_rated_products .star-rating {
    margin: 2px 0 6px;
}

/*  Review rating styles */
p.stars span,
p.stars span a:hover,
p.stars span a:focus,
p.stars span a.active {
    background-image: url(../images/woo/woo_star.png);
    background-repeat: repeat-x;
}
p.stars span {
    width: 84px;
    height: 15px;
    position: relative;
    float: left;
    background-position: 0 -15px;
}
p.stars span a {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 0;
    padding-top: 15px;
    overflow: hidden
}
p.stars span a:hover,
p.stars span a:focus,
p.stars span a.active {
    background-position: 0 0;
}
p.stars span a.star-1 {
    width: 17px;
    z-index: 10
}
p.stars span a.star-2 {
    width: 34px;
    z-index: 9
}
p.stars span a.star-3 {
    width: 51px;
    z-index: 8
}
p.stars span a.star-4 {
    width: 68px;
    z-index: 7
}
p.stars span a.star-5 {
    width: 84px;
    z-index: 6
}
/* end / star rating styles */

/* Chrome autofill fix:
..........................................*/
form.login input[type="password"]:-webkit-autofill,
form.register input[type="password"]:-webkit-autofill,
form.lost_reset_password input[type="password"]:-webkit-autofill,
form.login input#username:-webkit-autofill,
form.lost_reset_password input#user_login:-webkit-autofill,
form.register input#reg_email:-webkit-autofill,

#commentform input#author:-webkit-autofill,
.widget_contactform input.name:-webkit-autofill,
.th_contact-form input.name:-webkit-autofill,
.contact-form input.name:-webkit-autofill,
.widget_mailchimp input.mailchimp-name:-webkit-autofill,
.widget_mailchimp input.mailchimp-lastname:-webkit-autofill,

#commentform input#email:-webkit-autofill,
.th_contact-form input.email:-webkit-autofill,
.contact-form input.email:-webkit-autofill,

#commentform input#url:-webkit-autofill,
.th_contact-form input.url:-webkit-autofill,
.contact-form input.url:-webkit-autofill {
    padding-left: 13px  !important;
}

/* Product line
..........................................*/
.product-meta-divider,
div.myaccount_user, .addresses + h2,
.summary .woocommerce-product-rating,
.summary p.price,
.summary div[itemprop~="description"],
form.cart,
p.cart,
table.group_table td,
.summary p.stock,
.summary .single_variation_wrap,
.summary .woocommerce-variation-description p,
.summary .single_variation p.stock.in-stock,
ul.product_list_widget li,
.widget_product_categories ul li,
.widget_product_categories ul.children,
.widget_layered_nav_filters ul li,
.widget_layered_nav ul li,
.widget_shopping_cart p.total,

.woocommerce-tabs #comments,
.cart_totals table th, .cart_totals table td,
table.woocommerce-checkout-review-order-table tbody td,
table.woocommerce-checkout-review-order-table tfoot th, 
table.woocommerce-checkout-review-order-table tfoot td,
ul.payment_methods li:last-child,
table.order_details tbody td,
table.order_details tfoot th, table.order_details tfoot td,
table.my_account_orders tbody td {
    background: url(../images/bg_footer_widgets.png) repeat-x 0 100%;
    background-size: 2px 1px;
}


/* Product styles
..........................................*/
ul.products li div.product-item-wrap,
.product_image_wrap .images,
.product_image_wrap .thumbnails ul.slides li a,
ul.product_list_widget img,
table.shop_table tbody td.product-thumbnail img {
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .04);
    padding: 9px;
}


/* end / woo main styles
--------------------------------------------------------------- */


/*  Product List
--------------------------------------------------------------------------------------------------- */

#main ul.products h3 {
    margin: 0px 0 5px;
    font-size: 14px;
    line-height: 1.2;
    font-family: Arial, sans-serif;
    letter-spacing: 0;
}

li.product {
	opacity: 0;
}

li.product div.product-meta {
    margin-top: 11px;
    /*padding-right: 45px;*/
	background-color: #fff;
	position: relative;
    min-height: 41px;
}
li.product div.product-meta + p {
    padding-bottom: 0;
}
ul.products span.price {
    font-size: 16px;
}
p > ins {
    background: none;
}
p > span.amount,
.widget span.amount,
ul.products span.price, ul.products span.price span.amount {
    color: #c62c02;
}
p > ins span.amount,
.widget ins span.amount,
ul.products span.price ins, ul.products span.price ins span.amount {
    color: #758d02;
}
p > del span.amount,
.widget del span.amount,
ul.products span.price del, ul.products span.price del span.amount {
    color: #797979;
}
.product-item-wrap p > .button.add_to_cart_button,
div.product-meta a.button, div.product-meta a.added_to_cart {
    position: absolute;
    display: block;
    width: 44px;
    height: 43px;
    background: url(../images/woo/woo_addtocart_bg.png) no-repeat 0 0;
    font-size: 0; color: transparent;
	top: 0;
	right: 0;
}
ul.products a.added, li.product.vhov div.product-meta a.added {display: none;}

ul.products a.button:before,
ul.products a.added_to_cart:before {
    content: '';
    position: absolute;
    left: 13px;
    top: 13px;
    width: 17px;
    height: 12px;
    background: url(../images/woo/woo_addtocart_icon.png) no-repeat 0 0;
}
ul.products a.added_to_cart:before {
    background: url(../images/woo/woo_arrow_shop.png) no-repeat 0 0;
    left: 14px;
    top: 14px;
}
ul.products a.product_type_variable:before,
ul.products a.product_type_grouped:before {
    background: url(../images/woo/woo_options.png) no-repeat 0 0;
    left: 14px;
    top: 14px;
}
a.product-img-link {
    display: block;
    overflow: hidden;
    position: relative;
}
a.product-img-link .product_preloader {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
a.product-img-link .icon-spinner {
    line-height: 50px;
    display: inline-block;
    font-size: 17px;
    color: #fff;
}

a.product-img-link img {
    opacity: 1;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    -ms-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
}
a.product-img-link img.product_hover_image {
    opacity: 0;
    position: absolute;
    top: 0;
}
li.product div.product-item-wrap {
	position: relative;	
	z-index: 1;
}
li.product:hover div.product-item-wrap {
	z-index: 2;
}
.product-item-wrap:first-child p {
    padding-bottom: 0;
}
li.product:hover img.product_hover_image {
    display: block;
    opacity: 1;
}
li.product.vhov div.product-meta {
	text-align: center;
	padding: 0;	
	height: auto !important;
}
li.product.vhov div.product-meta a.button,
li.product.vhov div.product-meta a.added_to_cart {
	position: relative;
	margin: 2px auto; padding: 5px 17px 4px;
    width: inherit; height: inherit;
    font-size: 12px; background-image: none;
}
li.product.vhov .product-item-wrap p > .button.add_to_cart_button {
    display: inline-block;
    padding: 8px 17px 7px;
    margin-right: 5px;
    border-radius: 3px;
    border: 0;
}
li.product.vhov div.product-meta a.button:before, li.product.vhov div.product-meta a.added_to_cart:before { display: none;}

/* rating styles */
li.product div.product-meta div.star-rating { margin-bottom: 6px; display: none;}
li.product.vhov div.product-meta div.star-rating {margin: 0px auto; display: block;}

#main ul.products li.product h3 { margin: 9px 50px 7px 0;}
#main ul.products li.product-category h3 {
    margin-right: 0;
    text-align: center;
    word-wrap: break-word;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 18px;
    line-height: 18px;
}

ul.products span.price { display: block; padding-right: 50px;}
/*li.product div.product-meta div.star-rating + h3 + span.price,
li.product div.product-meta div.star-rating + span.price {padding-right: 0;}*/
li.product.vhov span.price { padding-right: 0;}

#main ul.products li.product.vhov h3 { margin: 9px 0 7px;}

li.product.vhov div.product-meta span.price {
    display: block;

}

.product-meta-divider {
    display: none;
    height: 1px;
    margin-top: 7px;
    margin-bottom: 8px;
}
li.product.vhov .product-meta-divider {display: block;}


p.woocommerce-result-count {
    display: inline-block;  
    position: absolute;
    top: 37px;
    right: 10px;
    margin: 0;
    text-align: right;
}


/*.woo-ordering-on p.woocommerce-result-count { margin: 12px 0 -40px 215px;}*/


form.woocommerce-ordering,
form.woocommerce-per-page {
    margin: 0px 0 23px 0px;
    padding: 5px;
    background: #f6f6f6;
    border-radius: 2px;
    display: inline-block;
}
form.woocommerce-ordering select.orderby,
form.woocommerce-per-page select.products_per_page {
    width: 190px;
}

form.woocommerce-per-page select {
    padding-right: 37px;
}

li.product del span.amount:nth-child(even):after {
    display: block;
    content: "";
}


/* Product layout styles
..........................................*/

ul.products {
    padding: 0;
    margin: 0 -10px;
}

.upsells ul.products, .related ul.products, .cross-sells  ul.products {
	margin: 0;
}
ul.products li {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-height: 1px;
    margin: 0 0px 20px;
    padding-top: 0; padding-bottom: 0; padding-left: 10px; padding-right: 10px;
	vertical-align: top;
    background-image: none;
	float: left;
}
ul.products li:before {
    display: none;
}
ul.products li.columns.first {
	clear: both;
}

/* Badge
..........................................*/
.product-badge {
    position: absolute;
    padding: 4px 11px 5px 12px;
    width: auto;
    height: auto;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 13px;
    text-align: center;
    word-wrap: break-word;
    top: 22px;
    left: -6px;
}
.product-badge.round {
	border-radius: 100%;
	padding: 0 11px 0 12px;
}

.product-badge + .product-badge {
    top: 55px;
}

.product-badge.round + .product-badge {
    top: 70px;
}

.product-badge.sale {
    background-color: #94b301;
    color: #fff;
	z-index: 2;
}

.product-badge.new {
    background-color: #c6320d;
    color: #fff;
	z-index: 1;
}

.product-badge.sold {
    background-color: #cfcfcf;
    color: #fff;
	z-index: 3;
}
.product-badge.sold + .product-badge {
	display: none;
}
.product-badge.sold + .product-badge +.product-badge {
	display: none;
}

/* Round product-badge on single product */

.single-product .product-badge.round {
    font-size: 16px;
    padding: 0 22px 0 23px;
}
.single-product .product-badge.round + .product-badge {
    top: 87px;
}
.single-product .related .product-badge.round,
.single-product .upsells .product-badge.round,
.single-product .cross-sells .product-badge.round {
    font-size: 13px;
    padding: 0 11px 0 12px;
}

/*  Woo pagination
..........................................*/

.woocommerce-pagination {
    padding: 18px 0 0;
    margin: 20px 0 0px;
    border-top: 1px solid #ececec;
    text-align: center;
}
/* end / woo product list
--------------------------------------------------------------- */

/*  Product Page
--------------------------------------------------------------------------------------------------- */

/*  Product image
..........................................*/

.product_image_wrap {
    position: relative;
	opacity:0;
}
.product_image_wrap .images {}
.product_image_wrap .thumbnails ul.slides li {
    margin: 0 11px 0 0;
}
.product_image_wrap .thumbnails ul.slides li a {
    display: block;
}

/*  QTY styles
..........................................*/
.quantity {
    float: left;
    vertical-align: top;
    padding-bottom: 10px;
    padding-right: 19px;
    width: 105px;
    box-sizing: border-box;
}
.quantity input.qty {
    float: left;
    font-size: 17px;
    margin-right: 4px;
    text-align: center;
    width: 61px;
    padding: 9px 6px 10px;
    box-sizing: border-box;
}
.quantity input[type="button"] {
    display: block;
    width: 21px;
    height: 21px;
    padding: 0;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .06);
    font-size: 0;
    color: transparent;
    transition: all .2s ease-in-out;
    background-image: url(../images/woo/woo_qty.png);
    background-repeat: no-repeat;
}
.quantity input.plus {
    background-position: 0 0;
}
.quantity input.minus {
    margin: 2px 0 0 0px;
    background-position: right 0;
}
.quantity input.plus:hover {
    background-color: #3c2e25;
    border-color: transparent;
    background-position: 0 100%;
}
.quantity input.minus:hover {
    background-color: #3c2e25;
    border-color: transparent;
    background-position: 100% 100%;
}

/*  Summary
..........................................*/

/*  Summary Product title */
#main h1.product_title {
    padding: 12px 0 20px;
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    line-height: .85;
    word-wrap: break-word;
}
/*  Summary Rating */

.summary .woocommerce-product-rating {
    padding: 0 0 21px;
    margin-bottom: 19px;
}
.summary .woocommerce-product-rating .star-rating {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}
.summary a.woocommerce-review-link {
    display: inline-block;
    padding: 0 11px;
    vertical-align: top;
}
a.woocommerce-review-form::before {
    content: '';
    position: absolute;
    width: 1px;
    display: inline-block;
    height: 11px;
    margin: 3px 0 0 0;
    background-color: rgb(227, 227, 227);
	left: 6px;
}
a.woocommerce-review-form {
	position: relative;
    display: inline-block;
	padding: 0 0 0 26px;
    vertical-align: top;
}
/*  Summary Price */

.summary p.price {
    padding: 0px 0 23px 0;
    margin-bottom: 23px;
}
.summary .price span.amount { line-height: 1;}
.summary p.price, .summary span.price {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -1px;
}

.summary .price del {
    padding-right: 4px;
}
.summary .price del,
.summary .price del span.amount {
    color: #aaaaaa;
}
.summary .price ins,
.summary .price ins span.amount {
    color: #545454;
}

.summary span.price {
	display: block;
	margin-bottom: 20px;
}

/*  Summary Description */

.summary div[itemprop~="description"] {
    padding: 0px 0 13px 1px;
    margin-bottom: 26px;
}
.summary p.stock {
    padding: 0px 0 26px 0;
    margin-bottom: 23px;
}


form.cart {
    padding: 0px 0 16px 0;
    margin-bottom: 24px;
}

p.cart {
    padding: 0px 0 26px 0;
    margin-bottom: 23px;
}


/*  Summary single variation */

table.variations {
    width: 100%;
}
table.variations td {
    padding-bottom: 10px;
}
table.variations td.label {
    padding-top: 7px;
    padding-right: 10px;
}
table.variations td.value {
    width: 80%;
}
table.variations select {
    width: 100%;
    display: block;
}
a.reset_variations {
    padding: 7px 0 0;
    margin-bottom: -3px;
    display: none;
}
a.reset_variations[style*="visibility: hidden;"] {
    display: none !important;
}
a.reset_variations[style*="visibility: visible;"] {
    display: block !important;
}
.summary .single_variation_wrap {
    margin-top: 20px;
	padding-top: 25px;
    background-position: 0 0;
}
.summary .woocommerce-variation-description p {
    margin: 0 0 25px;
    padding: 0 0 20px;
    background-position: 0 100%;
}
.summary .single_variation p.stock {
    margin: 0;
    padding: 0 0 12px;
    background: transparent;
}

.summary .single_variation p.stock.in-stock {
	margin-bottom: 25px;
	padding: 0 0 20px;
}
/*  Summary Meta */

.product_meta {
    padding: 0px 0;
    margin-bottom: 0px;
}
.product_meta > span {
    display: block;
}

/*  Group Product
..........................................*/
table.group_table {  
    width: 100%;
    margin-bottom: 25px;
}
table.group_table td {
    padding: 15px;
    vertical-align: middle;
}
table.group_table td.label {
    width: 60%;
}
table.group_table td.price {
    width: 40%;
}
table.group_table td:first-child {
    padding-left: 0;
}
table.group_table td:last-child {
    padding-right: 0;
}
table.group_table tr:last-child td {
    padding-bottom: 26px;
}
table.group_table .quantity {
    padding: 0;
    width: 86px;
}
table.group_table td.label a {font-size: 14px; line-height: 1.2;}
table.group_table p.stock { padding: 0;margin: 0;background-image: none;}


/*  Tabs
..........................................*/

.woocommerce-tabs {
    clear: both;
    padding: 30px 0 78px;
}
.woocommerce-tabs ul.tabs {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.woocommerce-tabs ul.tabs li {
    border: 1px solid transparent;
    border-bottom: 0;
    display: inline-block;
    margin: 0 -4px -5px 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    position: relative;
}
.woocommerce-tabs ul.tabs li a {
    cursor: pointer;
    float: left;
    padding: 11px 23px 8px 22px;
    line-height: 1.4;
    font-size: 14px;
    transition: color 200ms ease-in-out;
}
.woocommerce-tabs ul.tabs li.active a:before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -4px;
    display: block;
    height: 4px;
    background: #fff;
}
.woocommerce-tabs ul.tabs li a:after {
    content: '';
    position: absolute;
    left: -1px; top:15px;
    display: block;
    width: 1px; height: 11px;
    background: #e3e3e3;
}
.woocommerce-tabs ul.tabs li.active a:after,
.woocommerce-tabs .tabs-wrap:first-child ul.tabs li a:after {display: none;}


.woocommerce-tabs ul.tabs li.active {
    border-radius: 4px 4px 0 0;
    border-color: #dedddd;
    box-shadow: 1px 1px 3px 0 rgba(28, 20, 6, .14);
    background-color: #fff;
	z-index: 1;
}
.woocommerce-tabs ul.tabs li.active a {
    cursor: text;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .04);
}
.woocommerce-tabs .panel {
    display: none;
    float: left;
    width: 100%;
    padding: 23px 20px 20px 19px;
    background: #fff;
    border: 1px solid #dedddd;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .04);
    box-sizing: border-box;
    border-radius: 4px;
}

.woocommerce-tabs .tabs-wrap:first-child ul.tabs li.active a:before {
    left: -1px;
    border: solid #dedddd;
    border-width: 0 0 0 1px;
}


/*  Woo tabs column */

.woocommerce-tabs .one_half,
.woocommerce-tabs .one_third,
.woocommerce-tabs .two_third,
.woocommerce-tabs .one_fourth,
.woocommerce-tabs .three_fourth,
.grid_8 .woocommerce-tabs .one_half,
.grid_8 .woocommerce-tabs .one_third,
.grid_8 .woocommerce-tabs .two_third,
.grid_8 .woocommerce-tabs .one_fourth,
.grid_8 .woocommerce-tabs .three_fourth {
    box-sizing: border-box;
    padding-right: 10px;
    margin: 0 0 20px !important;
}
.woocommerce-tabs .one_half.last,
.woocommerce-tabs .one_third.last,
.woocommerce-tabs .two_third.last,
.woocommerce-tabs .one_fourth.last,
.woocommerce-tabs .three_fourth.last,
.grid_8 .woocommerce-tabs .one_half.last,
.grid_8 .woocommerce-tabs .one_third.last,
.grid_8 .woocommerce-tabs .two_third.last,
.grid_8 .woocommerce-tabs .one_fourth.last,
.grid_8 .woocommerce-tabs .three_fourth.last {
    padding-left: 10px;
    padding-right: 0;
}
.woocommerce-tabs .one_half,
.grid_8 .woocommerce-tabs .one_half {
    width: 50%;
}
.woocommerce-tabs .one_third,
.grid_8 .woocommerce-tabs .one_third {
    width: 33.333%;
}
.woocommerce-tabs .two_third,
.grid_8 .woocommerce-tabs .two_third {
    width: 66.666%;
}
.woocommerce-tabs .one_fourth,
.grid_8 .woocommerce-tabs .one_fourth {
    width: 25%;
}
.woocommerce-tabs .three_fourth,
.grid_8 .woocommerce-tabs .three_fourth {
    width: 75%;
}
#main .woocommerce-tabs h2 {
    font-size: 20px;
}
.woocommerce-tabs #tab-description h2 {
    margin-bottom: 20px;
}


table.shop_attributes {}
table.shop_attributes tr th,
table.shop_attributes tr td {
    padding: 7px 20px;
}
table.shop_attributes tr th {
    text-align: left;
}
table.shop_attributes tr td {
    bottom: 0;
    border: 0;
    width: 100%;
}
table.shop_attributes tr td p {
    padding-bottom: 0;
}
.woocommerce-tabs ul.tab-heading {

}

/*  Reviews comments
..........................................*/

.woocommerce-tabs #comments {
    padding-bottom: 23px;
    margin-bottom: 38px;
}
.woocommerce-tabs #comments h2 {
    margin: 0 0 25px;
}
.woocommerce-tabs ol.commentlist {
    padding: 0 0 0px;
    margin: 0 0 0px;
}
.woocommerce-tabs ol.commentlist ul.children {
    padding: 20px 0 0 20px;
}
.woocommerce-tabs ol.commentlist ul li:before {
    display: none;
}
.woocommerce-tabs ol.commentlist li {
    padding: 0 0 20px;
    margin: 0;
    background-image: none;
}
.woocommerce-tabs ol.commentlist ul.children li:last-child {padding-bottom: 0;}

.woocommerce-tabs ol.commentlist img.photo {
    float: left;
}
.woocommerce-tabs ol.commentlist .comment-text {
    padding-left: 13px;
    overflow: hidden;
}
.woocommerce-tabs p.meta {
    padding: 0 0 9px 1px;
    min-height: 48px;
    box-sizing: border-box;
}
.woocommerce-tabs p.meta strong {
    display: block;
    padding: 3px 0 0px;
    font-size: 14px;
    font-weight: normal;
}
.woocommerce-tabs p.meta time {
    opacity: .7;
}
.woocommerce-tabs em.verified {
    display: block;
}
.woocommerce-tabs ol.commentlist .star-rating {
    float: right;
    margin-top: 16px;
    margin-right: -1px;
}
.woocommerce-tabs ol.commentlist .description {
    padding: 9px 13px 1px;
    border-radius: 3px;
    background: #f8f8f8;
}

/*  Reviews comments form
..........................................*/

.woocommerce-tabs #respond {
    padding: 0;
}
.woocommerce-tabs h3#reply-title {
    font-size: 20px;
    margin: 0 0 28px;
}
.woocommerce-tabs form#commentform {
    position: relative;
}
.woocommerce-tabs form#commentform p {
    overflow: visible;
}
.woocommerce-tabs form#commentform p.comment-form-rating {
    padding: 0 5px 13px;
    margin: 0;
    background-color: transparent;
}
.woocommerce-tabs form#commentform p.comment-form-rating label {
    display: inline-block;
    padding-right: 16px;
    font-size: 14px;
}

.woocommerce-tabs form#commentform label#rating-error {
    font-size: 12px;
    background: url(../images/error.png) no-repeat 0 0;
    background-size: 23px 21px;
    color: #c6320d;
    padding: 2px 0 1px 35px;
    margin: -2px 0 0px 8px;
    vertical-align: top;
}


.woocommerce-tabs form#commentform p.stars {
    padding: 0;
    margin: 2px 16px 0 0;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
}
.woocommerce-tabs #commentform p.comment-form-comment {
    padding-top: 4px;
}
.woocommerce-tabs #commentform textarea {
    min-height: 193px;
    padding: 12px 13px 8px;
}
.woocommerce-tabs #commentform p.form-submit {

}
.woocommerce-tabs #commentform #submit_rating {
    float: left;
    min-width: 124px;
    margin: 0;
}
.woocommerce-tabs #commentform #submit_rating:hover {
    margin-top: 2px;
}
/* end / woo product page
-------------------------*/


/*  Product Carousel (related,presel,crossel)
--------------------------------------------------------------------------------------------------- */
div.products + div.products {
    margin-top: 41px;
}
#main div.products h2,
#main div.cross-sells h2 {
    margin: 0 0 28px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -2px;
}


div.upsells div.flex-viewport, div.related div.flex-viewport, div.cross-sells div.flex-viewport {
	margin: 0 -10px -47px;
	padding-bottom: 47px;
}

/* end / Product Carousel
-------------------------- */


/*  Cart Page
--------------------------------------------------------------------------------------------------- */

/*  Cart empty ( on main content)
..........................................*/  
.main-content p.cart-empty {
	padding: 90px 0 20px 0;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	letter-spacing: -1px;
}
.main-content div + p.cart-empty {padding-top: 50px;}
.main-content p.return-to-shop {text-align: center;}


/*  Table Cart style
..........................................*/
table.shop_table.cart tbody tr.cart_item br {display: none;}

table.shop_table {width: 100%;}
table.shop_table thead {
	background-color: #f6f6f6;
	border: 0; border-radius:0;
}
table.shop_table thead th:first-child {border-radius: 3px 0 0 3px;}
table.shop_table thead th:last-child {border-radius: 0 3px 3px 0;}

table.shop_table thead th {
	font-weight: normal;
	color: #575757;
	padding: 21px 14px 23px;
}
table.shop_table thead th.product-name {text-align: left;}

table.shop_table tbody td {
	padding: 20px 14px;
	border: 0;
	/*border-top: 1px solid #e1e1e1;*/
	vertical-align: middle;
}
table.shop_table tbody tr:first-child td {border: 0;} 
table.shop_table tbody tr:hover {background-color: transparent;}

/* product remove */
table.shop_table tbody th.product-remove, table.shop_table tbody td.product-remove {
	padding-left: 9px; padding-right: 10px;
}

table.shop_table tbody td.product-remove a.remove {
	border-radius: 100%;
	background-color: #f5f5f5;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .1);

	transition: all 0.2s ease-in 0s;

	width: 23px; height: 23px;
	background-image: url(../images/woo/woo_cart_remove.png);
	background-repeat: no-repeat;

	background-position: 0 0;

	display: block; color: transparent; font-size: 0;
}
table.shop_table tbody td.product-remove a.remove:hover {
	background-position: 0 100%;
	background-color: #3c2e25;
}

/* product thumbnail */
table.shop_table thead th.product-thumbnail, table.shop_table tbody td.product-thumbnail {
	padding-left: 0; padding-right: 6px;
}
table.shop_table tbody td.product-thumbnail img {
	max-width: 67px;
	padding: 7px;
}

/* product name */
table.shop_table tbody td.product-name {
	width: 100%;
	line-height: 1.2;
}
table.shop_table tbody td.product-name > a {font-size: 14px;}
table.shop_table tbody td.product-name dl.variation  {margin: 3px 0;}
table.shop_table tbody td.product-name .backorder_notification { padding: 3px 0 0;}

table.shop_table tbody td.product-price,
table.shop_table tbody td.product-subtotal {
	white-space: nowrap; text-align: center; font-size: 14px;
}

/* quantity */
table.shop_table tbody td.product-quantity {
	text-align: center;
}
table.shop_table .quantity {
	position: relative;
	min-width: 82px;
	padding: 0;
}
table.shop_table .quantity input.qty { 
	min-width: 40px; padding: 2px 4px 3px; margin: 0 0 0 21px; border: 0; font-size: 14px; font-weight: normal;
}
table.shop_table .quantity input[type="button"] {
	position: absolute;
	top: 0; margin: 0;
}
table.shop_table .quantity input.plus {
    right: 0;
}
table.shop_table .quantity input.minus {
	left: 0;
}

/* Actions */
table.shop_table tbody tr td.actions {
	border: 0;  padding: 0;
}

.coupon-content {
	background: #f6f6f6;
	border: 0; border-radius: 3px; padding: 10px;
}

.coupon-content .coupon, .coupon-content .coupon-wrap { overflow: hidden;}

input.button_update_cart, input.button_apply_coupon {
	float: right;

}

input.button_update_cart, input.button_apply_coupon, .shipping-calculator-form button.button {
	border-radius: 3px;
	border: 0;
	text-transform: lowercase;
	font-size: 12px; line-height: 14px;
	display: inline-block;
}

input.button_apply_coupon {margin: 0 11px 0 5px;padding: 9px 12px 9px;}
input.button_update_cart, .shipping-calculator-form button.button {
	padding: 9px 12px 9px 33px;
	background-image: url(../images/woo/woo_update_cart.png); background-repeat: no-repeat; background-position: 13px 10px;
}

.coupon-content input.input-text { width: 100%;box-sizing: border-box;}


.coupon-content .coupon label {display: none;}
.coupon-content br {display: none;}
.coupon-content .coupon p {padding: 0;}
.coupon-content > p {float: left;padding: 0;}

span.product-head {
	display: none;
}

/*  Cart Totals
..........................................*/
.cart_totals {
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .04);
	padding: 20px;
}
#main .cart_totals h2 {
	padding: 4px 0 24px; margin: 0 0 21px;
	text-align: center;
	font-size: 15px;
	background: url(../images/woo/woo_carttotal_bg.png) no-repeat 50% 100%;
	font-weight: 600;
}

.cart_totals table {width: 100%;}
.cart_totals table th, .cart_totals table td {
	font-size: 14px;
	padding: 11px 0 12px;
	border: 0;
	vertical-align: top;
}
.cart_totals table tr:hover {background-color: transparent;}
.cart_totals table th {
	font-weight: normal;text-align: left;
	padding-right: 5px;
	min-width: 90px;
	word-wrap: break-word;
}
.cart_totals table td {text-align: right;}

.cart_totals table tr.shipping th, .cart_totals table tr.shipping td { background: none; padding-bottom: 0;}
.cart_totals table tr.shipping-calculator td { padding-top: 0;}
.cart_totals table tr.order-total th, .cart_totals table tr.order-total td {font-weight: bold; background-image: none; /*padding-bottom: 31px;*/}

a.shipping-calculator-button, a.checkout-button {display: block;}


ul#shipping_method li {background-image: none; padding: 0px 0 10px; clear: both;}
ul#shipping_method li:before {display: none;}
ul#shipping_method li label {display: block;  overflow: hidden;}
ul#shipping_method li input[type="radio"] + br {display: none;}
ul#shipping_method li input[type="radio"] { float: left; margin: 3px 10px 0 0;}

form.woocommerce-shipping-calculator select,
form.woocommerce-shipping-calculator input[type="text"] {
	width: 100%;  box-sizing: border-box;
}

form.woocommerce-shipping-calculator p {padding: 0;}
section.shipping-calculator-form {text-align: center;padding-top: 10px;}
section.shipping-calculator-form p {
	background-color: #f6f6f6;
	padding: 5px;
	margin-bottom: 4px;
	border-radius: 3px;
}

section.shipping-calculator-form p.form-row:before {display: none;}


section.shipping-calculator-form p:last-child {display: none;}
.shipping-calculator-form button.button {margin: 5px 0;}

body.woocommerce-cart .cross-sells {padding-top: 85px;}

.cart_totals table tr.cart-discount td,
table.woocommerce-checkout-review-order-table tr.cart-discount td {
	position: relative;
	padding-right: 28px;
}


a.woocommerce-remove-coupon {
	position: absolute;
	right: 0;
	top: 12px;
	font-size: 0;
	color: transparent;
	background-position: 6px -11px;
}
a.woocommerce-remove-coupon:hover {
	background-position: 6px -28px;
	background-color: #3c2e25;
}

/* end / Cart Page
--------------------------------------------------------------- */

/*  Woo Forms
--------------------------------------------------------------------------------------------------- */
p.form-row {
	padding: 0px 4px 0;
	margin: 0px 0 17px;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}
p.form-row br {
	display: none;
}
p.form-row-wide:before,
p.form-row-first:before,
p.form-row-last:before,
p.form-row.notes:before,
.create-account p.form-row:before {
	content: '';
	height: 43px;
	position: absolute;
	bottom: -5px;
	left: 0; right: 0;
	border-radius: 2px;
	background: #f6f6f6; 
	z-index: -1; 
}

p.form-row.notes:before {
	top: 21px;
	height: auto;
}
p.form-row label {
	display: block;
	position: relative;
	margin: 0px 0px 7px 2px;
}

p.form-row input.input-text, p.form-row select, p.form-row textarea {
	width: 100%;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	margin: 0;
}

p.form-row textarea {min-height: 164px}

.select2-container {
	width: 100%;
	height: 33px;
	z-index: 1;
}
.select2-container .select2-choice {
	height: 33px;
	padding: 8px 0 6px 8px;
	box-sizing: border-box;
	border-radius: 2px;

}
.select2-container .select2-choice, .select2-drop-active {
	border-color: #dcdcdc;
}
.select2-drop { border-radius: 0 0 2px 2px;}


/*  Checkout Page
--------------------------------------------------------------------------------------------------- */
.shipping_address { clear: both; display: none;}

form.checkout_coupon { margin-bottom: 20px;}
form.checkout_coupon input.button_apply_coupon { margin-right: 0;}

#main .woocommerce-billing-fields h3 {
	font-size: 20px;
	margin: 1px 0 19px;
}

.woocommerce-checkout-review-order-wrap h3#order_review_heading {
	font-size: 20px;
	text-align: center;
	margin-bottom: 18px;
}
h3#ship-to-different-address br {display: none;}
h3#ship-to-different-address {
	background: #f6f6f6;
	padding: 5px 11px 4px;
	border-radius: 3px;
}
h3#ship-to-different-address label.checkbox {
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	font-family: Arial, sans-serif;
	letter-spacing: normal;
}
h3#ship-to-different-address input.input-checkbox {
	float: left;
	margin: 4px 11px 0 0;
}

#payment h3 {text-align: center;}
table.order_details tfoot th, table.order_details tfoot td {font-weight: bold;}

/*  Checkout Create account
..........................................*/
p.form-row.create-account {
	background: #f6f6f6;
	padding: 7px 11px 6px;
	border-radius: 3px;
}
p.form-row.create-account:before {display: none;}
p.form-row.create-account input.input-checkbox {
	float: left;
	margin: 2px 11px 0 0;
}
p.form-row.create-account label.checkbox {
	margin: 0;
}

/*  Checkout layout styles
..........................................*/
form.woocommerce-checkout .col2-set {
	margin: 0;
}
form.woocommerce-checkout .col-1, form.woocommerce-checkout .col-2 {
	padding: 0; float: none; width: auto;
}

.woocommerce-checkout-review-order-wrap {
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .04);
	padding: 20px 20px 20px;
}

/*  Table Your order styles
..........................................*/
table.woocommerce-checkout-review-order-table {
	margin-bottom: 30px;
}
table.woocommerce-checkout-review-order-table thead th {
	padding: 12px 0px 12px 20px; text-align: left;
}
table.woocommerce-checkout-review-order-table tbody td,
table.woocommerce-checkout-review-order-table tfoot th, 
table.woocommerce-checkout-review-order-table tfoot td {
	padding: 12px 0 10px 20px;
	border: 0;
	font-weight: normal;
	text-align: left;
}
table.woocommerce-checkout-review-order-table tbody td.product-name {
	width: 60%;
}
table.woocommerce-checkout-review-order-table tr:hover {background-color: transparent;}
table.woocommerce-checkout-review-order-table tfoot {font-size: 14px;}


table.woocommerce-checkout-review-order-table tfoot tr.order-total th,
table.woocommerce-checkout-review-order-table tfoot tr.order-total td {
	padding-bottom: 0; background-image: none;
	font-weight: bold;
}



strong.product-quantity {font-weight: normal;}

ul#shipping_method {margin-bottom:0;}

form.woocommerce-shipping-calculator {margin-top: 10px;}

.cart_totals ul#shipping_method {margin-bottom:0;}
.cart_totals ul#shipping_method li {float: right;}
.cart_totals ul#shipping_method li:last-child {padding-bottom: 0;}
.cart_totals ul#shipping_method li input[type="radio"] {
	float: none;
	margin: 0px 7px 0 0;
	top: 2px;
	display: inline-block;
	position: relative;
}
.cart_totals ul#shipping_method li label { display: inline;}
.cart_totals ul#shipping_method:after {content: '';clear: both;display: table;}

ul.payment_methods li:before {display: none;}
ul.payment_methods li {
	padding: 10px 0 11px 0;
}
ul.payment_methods li p {padding-bottom: 0;}
ul.payment_methods li input.input-radio {
	margin: -3px 10px 0 0px;
	display: inline-block;
	vertical-align: middle;
}
ul.payment_methods li label {
	font-size: 14px; color: #545454;
}
ul.payment_methods .payment_box {
	padding: 9px 0 0 26px;
}
ul.payment_methods li.payment_method_paypal img {
	margin: 0 0px 0 18px; max-width: 174px;
}
ul.payment_methods li.payment_method_paypal a.about_paypal {font-size: 12px; display: inline-block; padding-left: 18px;}

p.form-row.terms {
	padding: 20px 0 0;
	margin: 0;
}
p.form-row.terms:after {display: none;}
p.form-row.terms label {margin: 0;display: inline;}

p.form-row.terms input.input-checkbox {
	margin: 0px 0px 0 8px;
	display: inline-block;
	vertical-align: middle;
}
ul.payment_methods li:last-child {
	padding: 14px 0 15px 0;
}

/*  Checkout Order Details
..........................................*/
p.order-info { 
	padding-bottom: 20px; font-size: 14px;
}
p.order-info mark {font-style: normal; color: #545454; background-color: transparent;}


table.order_details, table.order_details tbody td.product-name > a {font-size: 12px;}

table.order_details {margin-bottom: 20px;}
table.order_details thead th:last-child {text-align: left;}

table.order_details tbody td.product-name {width: 80%;}
table.order_details tfoot {font-size: 14px;}
table.order_details tfoot th { text-align: right;}

table.order_details tbody td,
table.order_details tfoot th, table.order_details tfoot td {
	border: 0;
	padding: 10px 14px; font-weight: normal;
}
table.order_details tfoot tr:hover { background: none;}
table.order_details tfoot tr:last-child th, table.order_details tfoot tr:last-child td { background: none; font-weight: bold;}

table.customer_details {width: auto; text-align: left; margin-bottom: 30px;}
table.customer_details tbody th, table.customer_details tbody td { padding: 0; margin: 0; border: 0;}
table.customer_details tbody th { padding-right: 10px;font-weight: normal;}


/* end / checkout page
--------------------------------------------------------------- */


/*  My Account
--------------------------------------------------------------------------------------------------- */
body.woocommerce-account #main .woocommerce h2,
body.woocommerce-account #main .woocommerce h3,
body.woocommerce-checkout #main .woocommerce h2,
body.woocommerce-checkout #main .woocommerce h3 {font-size: 20px; margin-bottom: 20px;}

body.woocommerce-checkout .main-content .woocommerce > p:first-child {font-size: 14px; padding-bottom: 17px;} /* @todo: test code for "checkout page/ order details" */

/*  for Our Bank Details */
.woocommerce ul.order_details li strong {font-weight: normal;}
body.woocommerce-checkout ul.order_details + .clear + p {padding-bottom: 20px;}
body.woocommerce-checkout #main .woocommerce h2 + h3 {
    font-size: 14px;
    font-family: Arial, sans-serif; letter-spacing: normal;
    margin-bottom: 5px;
}

div.myaccount_user {
    padding-bottom: 17px;
    margin-bottom: 28px;
}
div.myaccount_user p {padding-top: 18px;}

body.woocommerce-account #main div.myaccount_user h2,
body.woocommerce-account #main div.myaccount_user h2 + p {margin-bottom: 8px;}

p.myaccount_address {
    margin-top: -4px;
}
body.woocommerce-account #main header.title h3 {margin-bottom: 22px;}
body.woocommerce-account .addresses {  padding-top: 27px;}
body.woocommerce-account .addresses header.title p {padding-bottom: 0;}
body.woocommerce-account #main .addresses header.title a {margin-bottom: 21px;}
.addresses address {font-style: normal;}
.addresses .address {
    padding-bottom: 34px;
}

body.woocommerce-account #main .addresses + h2 {background-position: 0 0; padding-top: 35px; margin-bottom: 23px;}

table.my_account_orders {margin-bottom: 27px;}
table.my_account_orders thead th {text-align: left;}
table.my_account_orders br {display: none;}
table.my_account_orders tbody td {
    position: relative;
    padding: 8px 14px;
    border: 0;
}
table.my_account_orders tbody td.order-actions {text-align: center;}

@media only screen and (min-width: 768px) {
    #main table.my_account_orders tbody td.order-actions a.button {
        display: table; margin: 0 auto;
    } 
    #main table.my_account_orders tbody td.order-actions a.button + a.button {margin-top: 5px;}
}


/*  My Account Login styles
..........................................*/
form.login label.inline {
    margin: 0;
    display: inline-block;
    padding: 7px 11px 6px 11px;
    background: #f6f6f6;
    border-radius: 3px;
}
form.login label.inline input[type="checkbox"]{
    float: left;
    margin: 3px 11px 0 0;
}
form.login a.lost_password {
    position: relative; z-index: 1; padding-left: 20px;
}
form.login { padding-bottom: 20px;}
form.login, form.register {padding-top: 9px;}
.rememberme-wrap { 
    padding: 7px 0 0 0px;
    display: table;
}
form.login input.input-text, form.register input.input-text, form.lost_reset_password input.input-text {
    padding-left: 45px;
    background-repeat: no-repeat;
}
form.login input[type="password"], form.register input[type="password"], form.lost_reset_password input[type="password"] {
    background-image: url('../images/i_password.png');
    background-position: 9px 8px;
}
form.login input#username, form.lost_reset_password input#user_login {
    background-image: url('../images/i_name.png');
    background-position: 9px 8px;
}
form.register input#reg_email {
    background-image: url('../images/i_feedburner.png');
    background-position: 9px 8px;
}

/* Only login block: */
div.login-wrap form.login input.button {
    width: 100%; float: none;
}
div.login-wrap .rememberme-wrap { display: block; padding: 0;}
div.login-wrap form.login label.inline {
    float: left;
}
div.login-wrap form.login a.lost_password {
    clear: inherit; float: right; padding-top: 6px;
}

@media only screen and (min-width: 960px) {
    form.lost_reset_password { margin: 0 auto;width: 50%;}
    div.login-wrap { margin: 0 auto;width: 50%;}
}

/* end / checkout page
---------------------- */


/*	Woo Widgets
--------------------------------------------------------------------------------------------------- */
/*  Widget reviews */

.widget_recent_reviews span.reviewer {
    display: block;
}
/* Widget title styles
..........................................*/

ul.product_list_widget span.product-title,
.widget_recent_reviews a,
.widget_shopping_cart a {
    font-size: 14px;
    line-height: 1.2;
}
ul.product_list_widget span.product-title {
    display: block;
    padding-bottom: 4px;
}
/*	Widget Search */

.widget_product_search  form.woocommerce-product-search {
    padding: 5px;
    background: #f6f6f6;
    border-radius: 2px;
    position: relative;
}
.widget_product_search label.screen-reader-text {
    display: none;
}
.widget_product_search input.search-field {
    width: 100%;
    padding-right: 42px;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-color: #e9e8e8;
}
.widget_product_search input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 38px;
    height: 30px;
    border: 0;
    background: url(../images/b_search.png) no-repeat 0 8px;
    font-size: 0;
    color: transparent;
}
/*	Widget Tag Cloud */

.widget_product_tag_cloud a {
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px 9px 4px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .04);
    background-color: #fff;
    font-size: 12px !important;
}
.widget_product_tag_cloud a:hover {
    box-shadow: none;
    margin: 1px 4px 4px 1px;
}

/*  Product list widgets */
ul.product_list_widget,
.widget_product_categories ul,
.widget_layered_nav_filters ul,
.widget_layered_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.product_list_widget li {
    position: relative;
    margin-bottom: 15px;
    padding: 6px 0 15px 103px;
}
ul.product_list_widget > li:last-child {
    background-image: none;
}
ul.product_list_widget img.product_hover_image {
    opacity: 0;
    position: absolute;
    z-index: 1;
}
ul.product_list_widget img {
    float: left;
    max-width: 91px;
    margin: -6px 0 0 -103px;
    padding: 7px;
    opacity: 1;
    transition: all 200ms ease-in-out;
}
ul.product_list_widget li:hover img {
    opacity: .6;
    border-color: rgba(0, 0, 0, .2);
}
ul.product_list_widget li:hover img.product_hover_image {
    opacity: .6;
}
ul.product_list_widget li:hover img.product_hover_image + img {
    opacity: 0;
}

.widget_product_categories ul li a,
.widget_layered_nav_filters ul li a,
.widget_layered_nav ul li a {
    position: relative;
    display: block;
    margin-top: -1px;
    transition: color 0.6s ease-in 0s, background-color 0.6s ease-in 0s;
}
.widget_product_categories ul li a {
    padding: 8px 10px 7px 27px;
}
.widget_product_categories ul li a:before {
    content: '';
    position: absolute;
    margin-left: -19px;
    top: 14px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #453d3e;
}
.widget_product_categories ul li a:hover,
.widget_layered_nav_filters ul li a:hover,
.widget_layered_nav ul li a:hover,
.widget_product_categories ul li.current-cat > a,
.widget_layered_nav ul li.chosen a {
    background-color: rgba(246, 246, 246, .43);
    transition: color 0.1s ease-in 0s, background-color 0.1s ease-in 0s;
}
.widget_product_categories ul.children {
    background-position: 0 0;
}
.widget_product_categories ul.children li a {
    padding-left: 46px;
}
.widget_product_categories ul li:last-child,
.widget_layered_nav_filters ul li:last-child,
.widget_layered_nav ul li:last-child {
    background-image: none;
}
/*  Widget Price Filter */

.widget_price_filter .price_slider_wrapper {
    height: 10px;
    margin-bottom: 87px;
    padding: 12px 10px 10px;
    background: #f6f6f6;
    border-radius: 2px;
}
.widget_price_filter .price_slider {
    position: relative;
    height: 6px;
    margin-bottom: 22px;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    text-align: left;
}
.widget_price_filter .ui-slider-range {
    position: absolute;
    top: 0;
    z-index: 1;
    display: block;
    height: 100%;
    border: 0;
    background: #d1d1d1;
}
.widget_price_filter .ui-slider-handle {
    position: absolute;
    top: -3px;
    z-index: 1;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #3c2e25;
    cursor: pointer;
    outline: 0;
}
.widget_price_filter .ui-slider-handle:last-child {
    margin-left: -12px
}
.widget_price_filter .price_slider_amount {
    text-align: right;
    margin: 0 -10px 0;
}
.widget_price_filter button.button {
    float: left;
    min-width: 62px;
}
.widget_price_filter .price_label {
    padding-top: 6px;
}
/*  Widget Layered Nav Filters */

.widget_layered_nav_filters ul li a {
    padding: 8px 9px 7px 37px;
    transition: all 0.4s ease-in 0s;
}
.widget_layered_nav_filters ul li a:hover {
    background-color: rgba(246, 246, 246, .43);
}
.widget_layered_nav_filters ul li a:before {
    content: '';
    position: absolute;
    left: 11px;
    top: 8px;
    background-position: 6px 6px;
}
/*  Widget Layered Nav */

.widget_layered_nav ul li a {
    padding: 8px 50px 7px 13px;
}
.widget_layered_nav ul li {
    position: relative;
}
.widget_layered_nav span.count {
    position: absolute;
    right: 9px;
    top: 8px;
}
/*  Widget Shopping Cart */

.widget_shopping_cart a.remove + a {
    padding-right: 20px;
    display: block;
}
.widget_shopping_cart a.remove {
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 0;
    color: transparent;
    background-position: 6px -11px;
}
.widget_shopping_cart a.remove:hover {
    background-position: 6px -28px;
    background-color: #3c2e25;
}
.widget_shopping_cart span.quantity {
    display: block;
    padding-top: 4px;
}
.widget_shopping_cart ul.product_list_widget {
    padding-bottom: 7px;
}
.widget_shopping_cart ul.product_list_widget li {
    padding: 5px 0 13px 80px;
    margin: 0;
    background-image: none;
}
.widget_shopping_cart ul.product_list_widget li.empty,
#footer_widgets .widget_shopping_cart ul.product_list_widget li.empty {
    padding-left: 0;
}
.widget_shopping_cart ul.product_list_widget img {
    max-width: 67px;
    margin: -1px 0 0 -80px;
}
.widget_shopping_cart p.total {
    text-align: center;
    background-position: 0 0;
    padding: 16px 0;
}
.widget_shopping_cart p.total strong,
.widget_shopping_cart p.total span.amount {
    font-size: 15px;
}
.widget_shopping_cart p.buttons {
    text-align: center;
}
.widget_shopping_cart a.button {
    font-size: 12px;
	word-wrap: break-word;
	padding-left: 10px; padding-right: 10px;
	width: 48%;
	margin-bottom: 10px;
	margin-right: 4%;

}
.widget_shopping_cart a.checkout {
	margin-right: -2px;
	margin-left: -4px;
}

.widget_shopping_cart dl.variation {
    margin: 6px 0 -1px;
    line-height: 15px;
}
dl.variation dt {
    float: left;
    padding-right: 5px;
}
dl.variation dd {
    margin: 0;
    clear: right;
}
dl.variation dd p {
    padding-bottom: 0;
}


.widget-user-myaccount {margin-bottom: -14px;}

#main .widget-user-myaccount h2,
body.woocommerce-page #main .widget-user-myaccount h2 {
    padding: 3px 0 8px;
    margin: 0;
}
a.avatar-myaccount { float: left; margin-right: 16px;}


/* end / woo widgets
--------------------- */


/*  Top Line
--------------------------------------------------------------- */
.topline {
	position: relative;
	z-index: 100004;
	min-height: 28px;
	padding-top: 6px;
	padding-bottom: 4px;
	box-sizing: border-box;
}
.topline .row { position: relative;}

.topline-content > *:last-child {
	padding-bottom: 0;
}
.topline-content, .topline-login {
	min-height: 18px;
	box-sizing: border-box;
}

.topline a { text-decoration: none;   transition: color 200ms ease-in-out, background 200ms ease-in-out;}

.topline-content h1 { font-size: 30px; margin:  0 0 12px; line-height: 90% }
.topline-content h2 { font-size: 26px; margin:  0 0 12px; line-height: 90% }
.topline-content h3 { font-size: 22px; margin:  0 0 12px; line-height: 100% }
.topline-content h4 { font-size: 18px; margin:  0 0 12px; line-height: 100% }
.topline-content h5 { font-size: 16px; margin:  0 0 12px; line-height: 100% }
.topline-content h6 { font-size: 14px; margin:  0 0 12px; line-height: 100% }

.topline-content ul, .topline-content ol { padding: 0 0 0 16px; margin-top: 0;}


.topline-login a {display: inline-block;}

.topline-divider {
	display: inline-block;
	width: 1px; height: 11px;
	margin: 0px 13px -1px;
}

/* top bag */
div.topline-cart { 
	position: absolute;
	right: 43px;
	top: 0;
}
div.topline-cart .ribbon_bg {
	z-index: 100003;
	opacity: .4;
	right: 15px;
}

span.top_cart_text {
	right: 19px;
	cursor: pointer;
}

span.top_cart_text span {
	display: block;
	padding: 9px 5px 0;
	text-indent: inherit;
	text-align: center;
	color: #fff; line-height: 1;
	box-sizing: border-box;
}

span.top_cart_text span:before {
	background: url('../images/woo/woo_i_ribbon.png') no-repeat 0 0;
	width: 23px; height: 23px; bottom: 24px;
}

.topline-cart:hover .ribbon_bg {
	height: 79px;
}
.topline-cart:hover .ribbon span {
	height: 79px;
}
.topline-cart:hover .ribbon {
	height: 43px;
}
.topline-login  {
	text-align: right;
}
.topline_shopping_cart {
	position: absolute; 
	right: 8px; 
	top: 0;
	width: 277px; padding: 10px 20px 20px;
	border-radius: 0 0 2px 2px;
	background: #fff; 
	box-shadow: 1px 1px 5px rgba(63, 48, 22, 0.22);
	box-sizing: border-box;
	transition: all 0.2s linear 0s;
	transition: top 0s,opacity 0s;
	/*opacity: 1 !important;
	display: block !important;*/
}

h3.topline-heading {
	padding: 13px 0 22px;
	letter-spacing: -1px;
	margin: 0 0 18px;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	background: url(../images/woo/woo_carttotal_bg.png) no-repeat 50% 100%;
}

.topline_shopping_cart ul.product_list_widget li {
	padding-top: 5px; padding-bottom: 9px;
}
.topline_shopping_cart ul.product_list_widget li:last-child {
	background: url(../images/woo/woo_carttotal_bg.png) no-repeat 50% 100%;
	padding-bottom: 19px;
}
.topline_shopping_cart.widget_shopping_cart p.total { background: none; padding: 10px 0 15px;}
.topline_shopping_cart p.buttons { padding-bottom: 0;}
.topline_shopping_cart a.button { margin-bottom: 0;}

.topline_shopping_cart .widget_shopping_cart_content ul li.empty { padding-bottom: 0; background: none; text-align: center;}

.topline_shopping_cart .mini_cart_item a,
.widget_recent_reviews a, 
.widget_shopping_cart a {
	color: #545454;
	text-decoration: none;
}

.topline_shopping_cart .cart_list .quantity,
.topline_shopping_cart .cart_list .empty,
.topline_shopping_cart .cart_list .variation { color: #6b6b6b; }

@media screen and (min-width: 768px) { 
	header .topline-cart-indent .widget {
		padding-right: 102px;
	}
}
@media screen and (min-width: 1024px) {
	header .grid .widget_event li {
		min-width: 62px;
	}
}


/*end of top bag*/

/* end / top line
------------------ */


/*  List "Bottom Clear" for containers with floating elements
--------------------------------------------------------------- */
div.login-wrap form.login:after,
.widget-user-myaccount:after,
.widget_shopping_cart p.buttons:after,
.col2-set:after,
p.form-row.create-account:after,
form.checkout:after,
.woocommerce-tabs:after,
.woocommerce-tabs ol.commentlist li:after,
ul.product_list_widget li:after,
.widget_price_filter .price_slider_amount:after,
ul.products:after,
.woocommerce-pagination:after,
form.cart:after,
#commentform p.form-submit:after,
p.stars:after,
.flexslider .slides:after {
    content: '';
    clear: both;
    display: table;
}


/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/

@font-face {
    font-family: 'flexslider-icon';
    src: url('../fonts/flexslider-icon.eot');
    src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/

.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
    outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
.no-js .flexslider .slides > li:first-child {
    display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/

.flexslider {
    position: relative;
    margin: 0 0 10px;
}
.flexslider .slides img {
    height: auto;
}
.flex-viewport {
    max-height: 2000px;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.carousel li {
    margin-right: 5px;
}
.flex-direction-nav a {
    position: absolute;
    top: 50%;
    z-index: 10;
    opacity: 0;
    width: 31px;
    height: 31px;
    margin: -16px 0 0;
    background-color: #464646;
    border-radius: 100%;
    background-image: url(../images/woo/woo_slider_arrow.png);
    background-repeat: no-repeat;
    color: transparent;
    font-size: 0;
    transition: all 0.3s ease-in-out;
}
.flex-direction-nav .flex-prev {
    left: -10px;
    background-position: 0 0;
}
.flex-direction-nav .flex-next {
    right: -10px;
    background-position: right 0;
}
.flexslider:hover .flex-direction-nav .flex-prev, .products:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 20px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover, .products:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next, .products:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 20px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover, .products:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
}
.flexslider.thumbnails .flex-direction-nav a, .products.thumbnails .flex-direction-nav a {
    width: 23px;
    height: 23px;
	margin: -12px 0 0;
}
.flexslider.thumbnails .flex-direction-nav .flex-prev, .products.thumbnails .flex-direction-nav .flex-prev {
    background-position: -4px -4px;
}
.flexslider.thumbnails .flex-direction-nav .flex-next, .products.thumbnails .flex-direction-nav .flex-next {
    background-position: right -3px top -4px;
}
.flexslider.thumbnails:hover .flex-direction-nav .flex-prev, .products.thumbnails:hover .flex-direction-nav .flex-prev {
    left: -4px;
}
.flexslider.thumbnails:hover .flex-direction-nav .flex-next, .products.thumbnails:hover .flex-direction-nav .flex-next {
    right: -4px;
}
.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    cursor: default;
	display: none !important;
}
.flex-pauseplay a {
    position: absolute;
    left: 10px;
    bottom: 5px;
    z-index: 10;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px;
    color: #000;
    opacity: 0.8;
    cursor: pointer;
}
.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}
.flex-pauseplay a:hover {
    opacity: 1;
}
.flex-pauseplay a .flex-play:before {
    content: '\f003';
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 20px;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-indent: -9999px;
}
.flex-control-paging li a:hover {
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    transition: all 1s ease;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
#product_thumbnails .flex-active-slide {}


#main .products h2 {display: inline; padding-right: 18px; margin-bottom: 0;  vertical-align: top;}
.products .flex-direction-nav { 
    display: inline-block;
    margin: -1px 0 0px;
    vertical-align: top;
	opacity: 0;
}
.products .flex-viewport { clear: both; padding-top: 28px;}

.products .flex-direction-nav a,
.products:hover .flex-direction-nav a.flex-prev,
.products:hover .flex-direction-nav a.flex-next { opacity: 1;}

.products .flex-direction-nav a {
    position: inherit;
    left: inherit; right: inherit;
    width: 23px; height: 23px;
    display: inline-block;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .1);
}

.products .flex-direction-nav a.flex-next, .products:hover .flex-direction-nav a.flex-next {
    background-position: right -3px top -34px;
}
.products .flex-direction-nav a.flex-prev, .products:hover .flex-direction-nav a.flex-prev {
    background-position: -4px -34px;
    margin-right: 6px;
}

.products .flex-direction-nav a:hover {
    background-color: #3c2e25;
}

.products .flex-direction-nav a.flex-prev:hover {
    background-position: -4px -4px;
}
.products .flex-direction-nav a.flex-next:hover {
    background-position: right -3px top -4px;
}



/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}	
@media screen and (max-width: 480px) {	
	
	ul.products span.price{ padding-right: 0px;}	
	#main ul.products li.product h3  {margin-right: 0;}
	.product-item-wrap p > .button.add_to_cart_button, div.product-meta a.button, div.product-meta a.added_to_cart {
		display:none;
	}
}